builds/
test_files/
builds
.txt
*.make
*.internal
*.cmake
*.marks
opcodes/.vs/
opcodes/.vs
opcodes/.vs*
opcodes/tokens*
opcodes/Debug/
opcodes/Debug*
opcodes/bin
opcodes/bin*
opcodes/objects
opcodes/objects*
.ccls-cache
.ccls-cache/
.ccls-cache*
*.vs
*.vs/
*~
