builds/
test_files/
builds
*.txt
*.make
*.internal
*.cmake
*.bin
*.marks
tokens+dependencies/.vs/
tokens+dependencies/.vs
tokens+dependencies/.vs*
tokens+dependencies/tokens*
tokens+dependencies/Debug/
tokens+dependencies/Debug*
tokens+dependencies/bin
tokens+dependencies/bin*
tokens+dependencies/objects
tokens+dependencies/objects*

